  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Adminstarotr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/speaker/list">speakers </a>
            <!-- <a class="nav-item nav-link" href="/speaker/add">Add speaker</a> -->
            <a class="nav-item nav-link" href="/event/add">Add event</a>
            <a class="nav-item nav-link" href="/event/list">Events</a>
          </div>
        </div>
        <div class="btn btn-outline-success"><%=locals.username %> </div>
      </nav>