<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Adminstarotr</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/speaker/profile/ " onclick="findUrl()">My profile </a>
        <a class="nav-item nav-link active" href="/event/myEvent/">My events </a>
      </div>
    </div>
    <div class="btn btn-outline-success"><%= locals.username %> </div>

  </nav>
  <script>
      function findUrl(){
          console.log(window.location.url);
      }
  </script>